<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin_dashboard.css') }}"
    />
  </head>
  <body>
    <div class="topnav">
      <h2>Admin Dashboard - {{airline.name}}</h2>
      <div>
        <span>Welcome back, <b>{{ g.user.firstname }}</b></span>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      </div>
    </div>
    <div class="container">
      <div class="flight-container">
        <div class="flight-container-heading">
          <h3>Flight List</h3>
          <button id="create_button">Create Flight</button>
        </div>
        <hr />
        <div class="flight-container-body">
          <!-- start of tje flight box -->
          {% for flight in flights %}
          <!-- find origin city from cities -->
          {% set origin_city = cities | selectattr('id', '==',
          flight.origin_city_id) | first %}
          <!-- find destination city from cities -->
          {% set destination_city = cities | selectattr('id', '==',
          flight.destination_city_id) | first %}

          <div
            class="flightbox"
            id="flight_{{flight.id}}"
            onclick="fetch_booking_data(this)"
          >
            <div class="number_price">
              <span>{{ flight.flight_number }}</span>
              <span id="fee">$ {{ flight.price }}</span>
            </div>

            <div class="flight_info_div">
              <div style="margin-bottom: 8px">
                <span
                  >{{
                  flight.departure_time.hour}}:{{flight.departure_time.minute}}</span
                >
                <span>({{ origin_city.code }})</span>
                -
                <span
                  >{{flight.arrival_time.hour}}:{{flight.arrival_time.minute}}</span
                >
                <span>({{ destination_city.code }})</span>
                <span style="float: right"
                  >Duration:
                  <b>{{ (flight.arrival_time-flight.departure_time)}}</b></span
                >
              </div>
              <span style="padding-left: 2px"
                >Departure date: <b>{{ flight.departure_time.date() }}</b></span
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="booking-container">
        <div class="flight-container-heading">
          <h3>Booking List</h3>
        </div>
        <hr />
        {% for booking in bookings %} {% set booked_flight = flights |
        selectattr('id', '==', booking.flight_id) | first %}
        <div class="bookingbox">
          <span style="margin-right: 10px">{{ loop.index }}. </span>
          <span
            >Booking ID: <b>#{{ booking.id }}</b>, Flight Number:
            <b>{{ booked_flight.flight_number }}</b>, Customer:
            <b
              >{{ booking.user.firstname }} {{ booking.user.secondname }}</b
            ></span
          >
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="main_modal" class="modal">
      <div class="modal-content">
        <div id="modal-heading">
          <span id="modal-title">Create Flight</span>
          <span id="close">&times;</span>
        </div>
        <!-- form started -->
        <form
          id="flight_create"
          action="{{ url_for('flights.create_flight' )}}"
          method="post"
        >
          <div class="flight_number_row">
            <label for="flight_number">Flight number:</label>
            <input
              placeholder="Enter Flight Number"
              type="text"
              name="flight_number"
              id="flight_number"
            />
          </div>
          <div class="modal_data">
            <div class="location">
              <label for="origin">Origin: </label
              ><select name="origin_city_id" id="origin">
                {% for city in g.cities %}
                <option value="{{city.id}}">{{city.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="location">
              <label for="origin">Destination: </label
              ><select name="destination_city_id" id="destination">
                {% for city in g.cities %}
                <option value="{{city.id}}">{{city.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal_data">
            <div class="date_time">
              <label for="departure">Departure Date: </label>
              <input
                type="datetime-local"
                name="departure_time"
                id="departure"
              />
            </div>
            <div class="date_time">
              <label for="arrival">Arrival Date: </label>
              <input type="datetime-local" name="arrival_time" id="arrival" />
            </div>
          </div>
          <div class="modal_data">
            <div class="price_seat">
              <label for="price">Price: </label>
              <input
                placeholder="Enter Price"
                type="number"
                name="price"
                id="price"
                min="0"
              />
            </div>
            <div class="price_seat">
              <label for="seats">Seats: </label>
              <input
                placeholder="Enter Seat Numbers"
                type="number"
                name="total_seats"
                id="seats"
                min="0"
              />
            </div>
          </div>
          <input type="submit" value="Create" />
        </form>
        <!-- form ended -->
      </div>
    </div>
    <script>
      var modal = document.getElementById('main_modal');

      document
        .getElementById('create_button')
        .addEventListener('click', (e) => {
          e.preventDefault();
          console.log('hello');
          modal.style.display = 'block';
        });

      document
        .getElementById('close')
        .addEventListener('click', () => (modal.style.display = 'none'));

      document
        .getElementById('flight_create')
        .addEventListener('submit', (e) => {
          modal.style.display = 'none';
        });

      window.onclick = (e) => {
        if (e.target == modal) {
          modal.style.display = 'none';
        }
      };
    </script>
  </body>
</html>
