{% extends "base.html" %} {% block title %} {% endblock %} {% block content %}
<form
  action="{{url_for('flights.get_all_flights')}}"
  class="bottomnav"
  method="get"
>
  <div class="radio_style">
    <div>
      <input
        checked
        type="radio"
        name="trip_type"
        id="one_way"
        value="one_way"
      />
      <label for="one_way">One Way</label>
    </div>
    <div>
      <input type="radio" name="trip_type" id="roundtrip" value="roundtrip" />
      <label for="roundtrip">Round Trip</label>
    </div>
  </div>

  <div id="vert_line"></div>

  <div class="loc_date" id="departure">
    <div class="form_row">
      <label for="origin">Departure:</label>
      <select required name="origin" id="origin">
        <option value="" disabled selected hidden>Departure City</option>
        {% for city in cities %}
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_row" id="departure_date">
      <label for="departure">Departure Date: </label>
      <input
        required
        type="datetime-local"
        name="departure_time"
        id="departure"
      />
    </div>
  </div>
  <div class="loc_date" id="returning">
    <div class="form_row">
      <label for="destination">Arrival:</label>
      <select required name="destination" id="destination">
        <option value="" disabled selected hidden>Arrival City</option>
        {% for city in cities %}
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_row" id="returning_date">
      <label for="returning">Returning Date: </label>
      <input type="datetime-local" name="returning" id="returning" />
    </div>
  </div>
  <div id="num_seats_div">
    <label for="num_seats">No. of seats: </label>
    <input
      type="number"
      name="num_seats"
      id="num_seats"
      min="1"
      max="100"
      placeholder="1"
      value="1"
    />
  </div>
  <input id="search_flight" type="submit" value="Search Flight" />
</form>

<div id="allmidnav">
  <div id="firstnav">
    <h3>Filter By</h3>
    <h4>Airlines</h4>
    <form action="choice_airline">
      {% for airline in airlines %}
      <input type="checkbox" name="{{airline.id}}" value="{{airline.name}}" />
      <label for="{{airline.id}}">{{airline.name}}</label><br /><br />
      {% endfor %}
    </form>
  </div>
  <div id="secnav">
    <h3>Cheapest Flight</h3>
    <!-- start of tje flight box -->
    {% for flight in flights %}
    <!-- find origin city from cities -->
    {% set origin_city = cities | selectattr('id', '==', flight.origin_city_id)
    | first %}
    <!-- find destination city from cities -->
    {% set destination_city = cities | selectattr('id', '==',
    flight.destination_city_id) | first %}
    <!-- find airline from airlines -->
    {% set airline = airlines | selectattr('id', '==', flight.airline_id) |
    first %}
    <div class="flightbox">
      <div class="time_fee">
        <div class="dis_time">
          {{ (flight.arrival_time-flight.departure_time)}}
        </div>
        <div class="dis_money">$ {{flight.price}}</div>
      </div>
      <hr />
      <div class="time_fee">
        <div class="dis_time">
          <span
            >{{
            flight.departure_time.hour}}:{{flight.departure_time.minute}}</span
          >
          <span>({{ origin_city.code }})</span>
          -
          <span
            >{{flight.arrival_time.hour}}:{{flight.arrival_time.minute}}</span
          >
          <span>({{ destination_city.code }})</span>
        </div>
        <div class="dis_money"></div>
      </div>
      <div class="detail">
        <span>1 Connection</span>
        <span>{{flight.flight_class.capitalize()}}</span>
        <span>{{airline.name}}</span>
      </div>
    </div>
    {% endfor %}
    <!-- end of the flight box -->
    <!-- start of tje flight box -->
    <!-- end of the flight box -->
  </div>

  <div id="thirdnav">
    <h2>21:25 - 18:00 ( Direct )</h2>
    <h3>LHR ------> RGN</h3>

    <p>
      Company - Saya Gyi Airways <br />
      Flight Number - BOEING 777-300ER <br />
      Class - Economy <br />
      From London Heathrow (21 : 25) <br />
      To Yangon (18:00) <br />
    </p>

    <h4>Choose the seat for the trip :</h4>
    <div id="seat_position">
      <a class="seat">1A</a>
      <a class="seat">1B</a><br />
      <a class="seat">1C</a>
      <a class="seat">1D</a>
      <a class="seat">1E</a><br />
      <a class="seat">1F</a>
      <a class="seat">1G</a>
      <a class="seat">1H</a><br />
      <a class="seat">1I</a>
      <a class="seat">1J</a>
      <a class="seat">2A</a>
      <a class="seat">2B</a><br />
      <a class="seat">2C</a>
      <a class="seat">2D</a>
      <a class="seat">2E</a><br />
      <a class="seat">2F</a>
      <a class="seat">2G</a>
      <a class="seat">2H</a><br />
      <a class="seat">2I</a>
      <a class="seat">2J</a>
      <a class="seat">3A</a>
      <a class="seat">3B</a><br />
      <a class="seat">3C</a>
      <a class="seat">3D</a>
      <a class="seat">3E</a><br />
      <a class="seat">3F</a>
      <a class="seat">3G</a>
      <a class="seat">3H</a><br />
      <a class="seat">3I</a>
      <a class="seat">3J</a>
      <a class="seat">4A</a>
      <a class="seat">4B</a><br />
      <a class="seat">4C</a>
      <a class="seat">4D</a>
      <a class="seat">4E</a><br />
      <a class="seat">4F</a>
      <a class="seat">4G</a>
      <a class="seat">4H</a><br />
      <a class="seat">4I</a>
      <a class="seat">4J</a>
      <a class="seat">5A</a>
      <a class="seat">5B</a><br />
      <a class="seat">5C</a>
      <a class="seat">5D</a>
      <a class="seat">5E</a><br />
      <a class="seat">5F</a>
      <a class="seat">5G</a>
      <a class="seat">5H</a><br />
      <a class="seat">5I</a>
      <a class="seat">5J</a>
      <a class="seat">6A</a>
      <a class="seat">6B</a><br />
      <a class="seat">6C</a>
      <a class="seat">6D</a>
      <a class="seat">6E</a><br />
      <a class="seat">6F</a>
      <a class="seat">6G</a>
      <a class="seat">6H</a><br />
      <a class="seat">6I</a>
      <a class="seat">6J</a>
      <a class="seat">7A</a>
      <a class="seat">7B</a><br />
      <a class="seat">7C</a>
      <a class="seat">7D</a>
      <a class="seat">7E</a><br />
      <a class="seat">7F</a>
      <a class="seat">7G</a>
      <a class="seat">7H</a><br />
      <a class="seat">7I</a>
      <a class="seat">7J</a>
      <a class="seat">8A</a>
      <a class="seat">8B</a><br />
      <a class="seat">8C</a>
      <a class="seat">8D</a>
      <a class="seat">8E</a><br />
      <a class="seat">8F</a>
      <a class="seat">8G</a>
      <a class="seat">8H</a><br />
      <a class="seat">8I</a>
      <a class="seat">8J</a>
      <a class="seat">9A</a>
      <a class="seat">9B</a><br />
      <a class="seat">9C</a>
      <a class="seat">9D</a>
      <a class="seat">9E</a><br />
      <a class="seat">9F</a>
      <a class="seat">9G</a>
      <a class="seat">9H</a><br />
      <a class="seat">9I</a>
      <a class="seat">9J</a>
      <a class="seat">10A</a>
      <a class="seat">10B</a><br />
      <a class="seat">10C</a>
      <a class="seat">10D</a>
      <a class="seat">10E</a><br />
      <a class="seat">10F</a>
      <a class="seat">10G</a>
      <a class="seat">10H</a><br />
      <a class="seat">10I</a>
      <a class="seat">10J</a>
    </div>
    <h4>Bags</h4>
    <p>&#10003; Carry-on bags included *</p>

    <p>&#10003; 1st check bag included *</p>
    <h4>Refuntable</h4>
    <p>&#10003; Less any non-refuntable fee</p>
    <p>&#10003; No change fee</p>
    <h4>Total fee : £1217</h4>
    <div id="buttoncontainer">
      <button id="bookbutton">Book the flight</button>
    </div>
    <p>
      ** Baggage fees reflect the airline's standard fees based on the selected
      fare class.**
    </p>
  </div>
</div>
<script>
  document
    .getElementById('one_way')
    .addEventListener(
      'click',
      (e) => (document.getElementById('returning_date').style.display = 'none')
    );
  document
    .getElementById('roundtrip')
    .addEventListener(
      'click',
      (e) => (document.getElementById('returning_date').style.display = 'block')
    );
</script>
{% endblock %}
