{% extends "base.html" %} {% block title %} {% endblock %} {% block content %}
<form
  action="{{url_for('flights.get_all_flights')}}"
  class="bottomnav"
  method="get"
>
  <div class="radio_style">
    <div>
      <input
        checked
        type="radio"
        name="trip_type"
        id="one_way"
        value="one_way"
      />
      <label for="one_way">One Way</label>
    </div>
    <div>
      <input type="radio" name="trip_type" id="roundtrip" value="roundtrip" />
      <label for="roundtrip">Round Trip</label>
    </div>
  </div>

  <div id="vert_line"></div>

  <div class="loc_date" id="departure">
    <div class="form_row">
      <label for="origin">Departure:</label>
      <select required name="origin" id="origin">
        <option value="" disabled hidden>Departure City</option>
        {% for city in cities %}
        <!-- {% if g.search_info.origin == city.id %} selected {% endif %} -->
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_row" id="departure_date">
      <label for="departure">Departure Date: </label>
      <input
        value="{{g.search_info.departure_time_from_input}}"
        required
        type="datetime-local"
        name="departure_time"
        id="departure"
      />
    </div>
  </div>
  <div class="loc_date" id="returning">
    <div class="form_row">
      <label for="destination">Arrival:</label>
      <select required name="destination" id="destination">
        <option value="" disabled hidden>Arrival City</option>
        {% for city in cities %}
        <!-- {% if g.search_info.destination == city.id %} selected {% endif %}  -->
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_row" id="returning_date">
      <label for="returning">Returning Date: </label>
      <input type="datetime-local" name="returning" id="returning" />
    </div>
  </div>
  <div id="num_seats_div">
    <label for="num_seats">No. of seats: </label>
    <input
      type="number"
      name="num_seats"
      id="num_seats"
      min="1"
      max="100"
      placeholder="1"
      value="{{g.search_info.num_seats}}"
    />
  </div>
  <input id="search_flight" type="submit" value="Search Flight" />
</form>

<div id="allmidnav">
  <div id="firstnav">
    <h3>Filter By</h3>
    <h4>Airlines</h4>
    <form action="choice_airline">
      {% for airline in airlines %}
      <input type="checkbox" name="{{airline.id}}" value="{{airline.name}}" />
      <label for="{{airline.id}}">{{airline.name}}</label><br /><br />
      {% endfor %}
    </form>
  </div>
  <div id="secnav">
    <h3 style="text-align: left; padding-left: 5px">
      Flights Found ({{ flights | length }})
    </h3>
    <!-- start of tje flight box -->
    {% for flight in flights %}
    <!-- find origin city from cities -->
    {% set origin_city = cities | selectattr('id', '==', flight.origin_city_id)
    | first %}
    <!-- find destination city from cities -->
    {% set destination_city = cities | selectattr('id', '==',
    flight.destination_city_id) | first %}
    <!-- find airline from airlines -->
    {% set airline = airlines | selectattr('id', '==', flight.airline_id) |
    first %}
    <div
      class="flightbox"
      id="flight_{{flight.id}}"
      onclick="fetch_flight_data(this)"
    >
      <div class="time_fee">
        <div class="dis_time">
          {{ (flight.arrival_time-flight.departure_time)}}
        </div>
        <div class="dis_money">$ {{flight.price}}</div>
      </div>
      <hr />
      <div class="time_fee">
        <div class="dis_time">
          <span
            >{{
            flight.departure_time.hour}}:{{flight.departure_time.minute}}</span
          >
          <span>({{ origin_city.code }})</span>
          -
          <span
            >{{flight.arrival_time.hour}}:{{flight.arrival_time.minute}}</span
          >
          <span>({{ destination_city.code }})</span>
        </div>
        <div class="dis_money"></div>
      </div>
      <div class="detail">
        <span>1 Connection</span>
        <span>{{flight.flight_class.capitalize()}}</span>
        <span>{{airline.name}}</span>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id="thirdnav">
    <h3 id="location"></h3>

    <span id="message"
      >Flights details will be shown once you select a flight!</span
    >

    <div id="seat_section">
      <div id="details">
        <span>Flight Number: <span id="flight_number"></span></span>
        <span>Departure: <span id="depart_time" class="time"></span></span>
        <span>Arrival: <span id="arrive_time" class="time"></span></span>
        <span>Price: <span id="price"></span></span>
        <span>Airline Company: <span id="company"></span></span>
        <span>Total Seats: <span id="total_seats"></span></span>
        <span>Available Seats: <span id="available_seats"></span></span>
      </div>
      <h4 id="seat_title">Choose the seat for the trip:</h4>
      <div id="seat_position"></div>
      <h4 id="Bag">Bags</h4>
      <p>&#10003; Carry-on bags included *</p>

      <p>&#10003; 1st check bag included *</p>
      <h4>Refundable</h4>
      <p>&#10003; Less any non-refundable fee</p>
      <p>&#10003; No change fee</p>
      <h4 id="fee"></h4>
      <form
        id="book_form"
        action="{{ url_for('bookings.create_booking')}}"
        method="post"
      >
        <input type="hidden" id="flight_id_input" name="flight_id" />
        <input type="hidden" id="seat_id_input" name="seat_id" />
        <div id="buttoncontainer">
          <input type="submit" id="bookbutton" value="Book Flight" />
        </div>
      </form>
      <p id="booking_footer">
        ** Baggage fees reflect the airline's standard fees based on the
        selected fare class.**
      </p>
    </div>
  </div>
</div>
<script>
  let flight_id;
  let seat_id;
  var fetch_flight_data = async (element) => {
    if (flight_id) {
      const prev_selected_flight_id = document.getElementById(
        `flight_${flight_id}`
      );
      prev_selected_flight_id.classList.remove('flight_selected');
    }
    flight_id = element.id.split('_')[1];
    const cur_selected_flight_id = document.getElementById(
      `flight_${flight_id}`
    );
    cur_selected_flight_id.classList.add('flight_selected');

    var flight = await fetch(`${window.location.origin}/flights/${flight_id}/`);
    flight = await flight.json();

    var seat_container = document.getElementById('seat_position');
    var seat_section = document.getElementById('seat_section');
    var message = document.getElementById('message');

    seat_section.style.display = 'block';
    message.style.display = 'none';

    seat_container.innerHTML = '';

    document.getElementById(
      'location'
    ).textContent = `${flight.origin_city_name} (${flight.origin_city_code}) ------> ${flight.destination_city_name} (${flight.destination_city_code})`;

    document.getElementById('depart_time').textContent = formatDate(
      flight.departure_time
    );
    document.getElementById('arrive_time').textContent = formatDate(
      flight.departure_time
    );
    document.getElementById('price').textContent = `$${flight.price}`;
    document.getElementById('company').textContent = flight.airline_company;
    document.getElementById('available_seats').textContent =
      flight.available_seats;
    document.getElementById('total_seats').textContent = flight.total_seats;

    flight.seats.forEach((seat, index) => {
      var tmp = document.createElement('div');
      tmp.className = 'seat';
      tmp.id = `seat_${seat.id}`;
      tmp.onclick = () => {
        if (seat.is_occupied) {
          return;
        }
        if (seat_id) {
          const prev_selected = document.getElementById(`seat_${seat_id}`);
          prev_selected.classList.remove('seat_selected');
        }
        seat_id = seat.id;
        const cur_selected = document.getElementById(`seat_${seat_id}`);
        cur_selected.classList.add('seat_selected');
      };
      tmp.textContent = seat.seat_number;
      if (seat.is_occupied) {
        tmp.style.background = 'grey';
        tmp.style.cursor = 'auto';
        tmp.classList.add('disabled');
      }
      seat_container.appendChild(tmp);

      if ((index + 1) % 5 == 0 && (index + 1) % 10 != 0) {
        var aisle = document.createElement('div');
        aisle.id = 'aisle';
        seat_container.appendChild(aisle);
      }
    });
  };

  function formatDate(date) {
    const currentDate = new Date(date);

    const year = currentDate.getFullYear();
    const month = currentDate.getMonth() + 1;
    const day = currentDate.getDate();
    const hours = currentDate.getHours();
    const minutes = currentDate.getMinutes();
    const seconds = currentDate.getSeconds();

    const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day
      .toString()
      .padStart(2, '0')}`;
    const formattedTime = `${hours.toString().padStart(2, '0')}:${minutes
      .toString()
      .padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;

    return `${formattedTime}, ${formattedDate}`;
  }

  document.getElementById('book_form').addEventListener('submit', (e) => {
    e.preventDefault();
    flight_id_input.value = flight_id;
    seat_id_input.value = seat_id;

    e.target.submit();
  });

  document.getElementById('one_way').addEventListener('click', (e) => {
    document.getElementById('returning_date').style.display = 'none';
  });
  document.getElementById('roundtrip').addEventListener('click', (e) => {
    document.getElementById('returning_date').style.display = 'block';
  });
</script>
{% endblock %}
