{% extends "base.html" %} {% block title %} {% endblock %} {% block content %}
<body>
  <br />
  <span id="contentslogan">PACK YOUR BAG!!!</span>
  <span id="contentsmall">There is so much to see.</span>
  <form
    class="contentbox"
    action="{{ url_for('flights.search_flights')}}"
    method="post"
  >
    <div class="radio_style">
      <span>
        <h5><input type="radio" name="triptype" value="one_way" /> One Way</h5>
      </span>
      <span>
        <h5>
          <input type="radio" name="triptype" value="roundtrip" /> Round Trip
        </h5>
      </span>
    </div>
    <div class="form-row">
      <label for="origin">Flying from: </label>
      <select required name="origin" id="origin">
        <option value="" disabled selected hidden>Departure City</option>
        {% for city in cities %}
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label for="destination">Flying to: </label>
      <select required name="destination" id="destination">
        <option value="" disabled selected hidden>Arrival City</option>
        {% for city in cities %}
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label for="departure_time">Departure Date: </label>
      <input
        required
        id="departure_time"
        type="datetime-local"
        name="departure_time"
      />
    </div>

    <div class="form-row">
      <label>Number of passengers: </label>
      <input
        required
        type="number"
        name="no_of_seat"
        min="1"
        max="100"
        placeholder="1"
        value="1"
      />
    </div>
    <input type="submit" value="Search Flight" />
  </form>
  <div id="searched_flights">
    <ul>
      {% for flight in flights %}
      <li>{{flight.id}}</li>
      {% endfor %}
    </ul>
  </div>
</body>
{% endblock %}
