body {
  max-height: 100%;
  background-image: url('bg_1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.topnav {
  border-radius: 10px;
  padding: 4px 20px;
  background-color: white;
  opacity: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a,
button {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  background-color: #2a9df1;
  font-size: 15px;
  padding: 13px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type='submit'] {
  color: white;
  background-color: #2a9df1;
  font-size: 18px;
  padding: 13px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#flight_create {
  display: flex;
  min-width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}

.container {
  margin-top: 24px;
  display: flex;
  gap: 15px;
}

.modal_data {
  display: flex;
  gap: 12px;
  width: 100%;
}

.price_seat,
.location,
.date_time {
  flex: 50;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flight-container,
.booking-container {
  flex: 50;
  height: 82vh;
  background-color: white;
  opacity: 60%;
  overflow: scroll;
  border-radius: 10px;
  padding: 12px 21px;
}

.flight-container-body {
  overflow: auto;
}

.flight-container-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flight-container-heading span {
  font-size: 24px;
  font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  min-width: fit-content;
}

.modal-content {
  text-align: left;
}

#main_modal {
  text-decoration: none;
  font-size: 14px;
  color: #6e6e79;
  right: 0;
  position: absolute;
  z-index: 100;
}

#modal-title {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
}

.modal-content span {
  font-size: small;
  font-style: italic;
}

#modal-heading {
  display: flex;
  justify-content: space-between;
}

.modal-content #close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
}

input {
  padding: 3px;
}

#class {
  gap: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

hr {
  margin-bottom: 20px;
}

select,
input {
  padding: 5px 8px;
}

.flightbox {
  padding: 10px 10px 15px 10px;
  background-color: wheat;
  border-radius: 10px;
  height: auto;
  margin-bottom: 10px;
}

.time_fee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 5px 0;
}

#vert_line {
  width: 1px;
  height: 100px;
  background-color: #ccc;
  margin: 0 10px;
}

.dis_time {
  /* width: 400px; */
  justify-content: right;
  text-align: start;
  font-weight: bolder;
  font-size: 16px;
}

.dis_money {
  /* width: 60px; */
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.detail {
  display: flex;
  font-weight: 700;
  opacity: 80%;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
}
