/* #contentslogan {
  text-align: left;
  margin-left: 30px;
  font-weight: bolder;
  font-size: xx-large;
} */

#slogan h2 {
  text-align: left;
  margin: 0;
}

#slogan {
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex: 1;
  /* width: 100%; */
}

/* #contentsmall {
  text-align: left;
  margin-left: 20px;
  font-size: large;
} */

.contentbox {
  display: flex;
  width: 420px;
  background-color: white;
  border-radius: 20px;
  margin: 30px;
  opacity: 75%;
  padding: 35px 20px;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.radio_style {
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  margin-bottom: 10px;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.form-row label {
  width: 90px;
  text-align: right;
  margin-right: 10px;
}

.form-row input,
select {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
