.bottomnav {
  border-radius: 10px;
  padding: 8px 25px;
  background-color: white;
  opacity: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap: 30px;
  margin: 10px;
}

#returning_date {
  display: none;
}

#allmidnav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#firstnav {
  width: 200px;
  background-color: white;
  opacity: 75%;
  border-radius: 10px;
  padding: 10px 20px;
}

#secnav {
  width: 500px;
  background-color: white;
  opacity: 75%;
  border-radius: 10px;
  padding: 10px;
  height: auto;
}

#thirdnav {
  width: 700px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  opacity: 75%;
  font-family: 'verdana';
  overflow: scroll;
  height: 660px;
}

.flightbox {
  width: 480px;
  padding: 10px 10px 15px 10px;
  background-color: wheat;
  opacity: 80%;
  border-radius: 10px;
  height: auto;
  margin-bottom: 10px;
}

.time_fee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 5px 0;
}

#vert_line {
  width: 1px;
  height: 100px;
  background-color: #ccc;
  margin: 0 10px;
}

.radio_style {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 13px;
  font-size: 15px;
  margin: 0;
  max-width: fit-content;
}

.radio_style div {
  width: 100%;
}

.loc_date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_row {
  display: flex;
  align-items: center;
  width: 350px;
}

.form_row label {
  width: 130px;
  text-align: right;
  margin-right: 7px;
}

#num_seats_div {
  margin-left: 22px;
  margin-right: 35px;
}

.form_row input,
select {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dis_time {
  width: 400px;
  justify-content: right;
  text-align: start;
  font-weight: bolder;
  font-size: 16px;
}

.dis_money {
  /* width: 60px; */
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.detail {
  display: flex;
  font-weight: 700;
  opacity: 80%;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
}

.detail span {
  width: 30%;
}

hr {
  border: 1px solid darkgray;
  margin-top: 0;
}

#seat_position {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  row-gap: 3px;
  column-gap: 3px;
  padding: 20px;
}

.seat {
  border: 1px solid black;
  border-radius: 10px;
  background-color: wheat;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
