.wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.loginContent {
  display: flex;
  width: 400px;

  flex-direction: column;
  gap: 25px;
  align-items: center;

  height: fit-content;
  padding: 40px 35px;
  border-radius: 10px;
  background-color: white;
  opacity: 95%;
}

.signupLink {
  color: blue;
  text-decoration: none;
}

.loginContent .userdetail {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}

.namedetail input:first-child {
  margin-right: 7px;
}

button {
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #2a9df1;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}

.namedetail {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}
