{% extends 'base.html' %} {% block header %}
<h1>Log In</h1>
{% endblock %} {% block content %}
<div class="wrap">
  <div class="loginContent">
    <div id="logo">
      <h2>
        ALBERT <br />
        ENTERPRISE
      </h2>
    </div>
    <form action="{{ url_for('auth.login')}}" method="post">
      <div class="userdetail">
        <input type="text" placeholder="Email" name="email" /><br />
      </div>
      <!-- <br /> -->
      <div class="userdetail">
        <input type="password" placeholder="Password" name="password" />
      </div>
      <br />
      <span id="logo">
        <!-- <a class="active" href="#loginhere">Log in</a><br /> -->
        <button>Log in</button>
      </span>
    </form>
    <span
      >New Member? Sign up
      <span class="dirsignup">
        <a class="signupLink" href="{{ url_for('auth.register') }}">here.</a>
      </span>
    </span>
    <br />
  </div>
</div>
{% endblock %}
