{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
<div class="wrap">
  <form class="loginContent" action="{{ url_for('auth.login')}}" method="post">
    <div id="logo">
      <h2>
        ALBERT <br />
        ENTERPRISE
      </h2>
    </div>
    <input class="userdetail" type="text" placeholder="Email" name="email" />
    <input
      class="userdetail"
      type="password"
      placeholder="Password"
      name="password"
    />
    <span id="logo">
      <button>Log in</button>
    </span>
    <span
      >New Member? Sign up
      <a class="signupLink" href="{{ url_for('auth.register') }}">here.</a>
    </span>
  </form>
  <br />
</div>
{% endblock %}
