<div>
  {% extends 'base.html' %} {% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
  {% endblock %} {% block content %}
  <div class="wrap">
    <div class="loginContent">
      <div id="logo">
        <h2>
          ALBERT <br />
          ENTERPRISE
        </h2>
      </div>
      <div class="namedetail">
        <span> <input type="text" placeholder="Forename" /> </span>
        <span>
          <input type="text" placeholder="Surname" />
        </span>
      </div>
      <div class="userdetail">
        <input type="text" placeholder="Email" />
      </div>
      <div class="userdetail">
        <input type="password" placeholder="Password" />
      </div>
      <div class="userdetail">
        <input type="password" placeholder="Re-enter Password" />
      </div>
      <br />
      <span id="logo">
        <!-- <a class="active" href="#loginhere">Sign up</a><br /> -->
        <button>Sign Up</button>
      </span>
      <br />
    </div>
  </div>
  {% endblock %}
</div>
