<div>
  {% extends 'base.html' %} {% block header %} {% endblock %} {% block content
  %}
  <div class="wrap">
    <form
      class="loginContent"
      id="register_form"
      action="{{ url_for('auth.register')}}"
      method="post"
    >
      <div id="logo">
        <h2>
          ALBERT <br />
          ENTERPRISE
        </h2>
      </div>
      <!-- {% if not error == None %} -->
      <span>{{error}}</span>
      <!-- {% endif %} -->
      <div class="namedetail">
        <input
          class="userdetail"
          name="firstname"
          type="text"
          placeholder="First Name"
        />
        <input
          class="userdetail"
          name="secondname"
          type="text"
          placeholder="Surname"
        />
      </div>

      <input class="userdetail" name="email" type="text" placeholder="Email" />

      <input
        class="userdetail"
        name="password"
        type="password"
        placeholder="Password"
      />

      <input
        class="userdetail"
        name="re-password"
        type="password"
        placeholder="Re-enter Password"
      />

      <button type="submit">Sign Up</button>

      <span
        >Already have an account? Login
        <a class="signupLink" href="{{ url_for('auth.login') }}">here.</a>
      </span>
    </form>
  </div>
  {% endblock %}
</div>
