{% extends "base.html" %} {% block title %} {% endblock %} {% block content %}
<div
  style="
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    margin: 300px auto;
    background-color: white;
    opacity: 60%;
    border: 1px solid rgb(235, 43, 43);
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
  "
>
  <h1>Not Authorized</h1>
  <p>You don't have access to this page. Please contact super-admin.</p>
</div>
{% endblock %}
