<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='base_style.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='login_style.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='login_style.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='book_flight.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='flight_list.css') }}"
/>

<nav>
  <div class="topnav">
    <b>SkyBookings</b>
    {% if g.user == None %}
    <a class="login" href="{{ url_for('auth.login') }}">Log in</a>
    {% else %}
    <a href="{{ url_for('auth.logout')}}" class="login">{{g.user.firstname}}</a>
    {% endif %} {% if g.user.role == 'admin' %}
    <a href="{{ url_for('admin.admin_index') }}" class="active">Admin Panel</a>
    {% endif %}
    <a class="active" href="#About">About</a>
    <a class="active" href="#ContactUs">Contact Us</a>
    <a class="active" href="{{ url_for('index') }}">Home</a>
  </div>
</nav>
<section class="main_container">
  <header>{% block header %}{% endblock %}</header>
  <!-- {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}  -->
  {% block content %}{% endblock %}
</section>
