<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='base_style.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='login_style.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='login_style.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='book_flight.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='flight_list.css') }}"
/>

<nav>
  <div class="topnav">
    <div id="left-nav-group">
      <b><a id="logoText" href="{{ url_for('index') }}">SkyBookings</a></b>
      <a id="about" class="active" href="#About">About</a>
      <a class="active" href="#ContactUs">Contact Us</a>
    </div>
    <div id="right-nav-group">
      {% if g.user == None %}
      <a class="login" href="{{ url_for('auth.login') }}">Log in</a>
      {% else %}

      <span>Welcome back, <b>{{g.user.firstname}}</b></span>
      {% if g.user.role == 'admin' %}
      <a
        id="admin-panel"
        href="{{ url_for('admin.admin_index') }}"
        class="active"
        >Go to Admin Panel</a
      >
      {% endif %}
      <a href="{{ url_for('auth.logout')}}" class="login">Logout</a>
      {% endif %}
    </div>
  </div>
</nav>
<section class="main_container">
  <header>{% block header %}{% endblock %}</header>
  <!-- {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}  -->
  {% block content %}{% endblock %}
</section>
