{% extends "base.html" %} {% block title %} {% endblock %} {% block content %}
<body>
  <div class="contactus-container">
    <h3>Connect with Us</h3>
    <p>
      We're here to connect with you! Feel free to reach out through email or
      social media. Your feedback, questions, and suggestions are valuable to us
      as we continue to refine and enhance our platform.
    </p>
    <h3>Join Our Community</h3>
    <p>
      Become part of the SkyBookings community and experience travel in a whole
      new way. Join us in shaping the future of flight reservations by staying
      up to date with exclusive content and updates.
    </p>
    <h3>Contact Form</h3>
    <p>
      If you're interested in sharing your flights and potentially becoming an
      admin, please don't hesitate to reach out to us using the form below.
      We're excited to hear from you and welcome you to the SkyBookings
      community!
    </p>
    <form>
      <label for="fname">First name:</label><br />
      <input type="text" class="form" name="fname" /><br />
      <label for="lname">Last name:</label><br />
      <input type="text" class="form" name="lname" /><br />
      <label for="com_name">Company name:</label><br />
      <input type="text" class="form" name="com_name" /><br />
      <label for="eamil">Email:</label><br />
      <input type="text" class="form" name="email" /><br />
      <input type="submit" id="submit" value="Submit" />
    </form>

    <h3>Customer Support</h3>
    <p>
      We're committed to providing exceptional customer support. If you have any
      inquiries related to bookings, reservations, or technical assistance, our
      dedicated support team is ready to assist you.
    </p>
    <h3>We're Here for You</h3>
    <p>
      At SkyBookings, your satisfaction is our priority. Whether you have a
      question, feedback, or a suggestion for improvement, we're dedicated to
      making your experience with us exceptional.
    </p>
  </div>
</body>
{% endblock %}
