{% extends "base.html" %} {% block title %} {% endblock %} {% block content %}
<body>
  <br />
  <form
    class="contentbox"
    action="{{ url_for('flights.get_all_flights')}}"
    method="get"
  >
    <div id="slogan">
      <h2>PACK YOUR BAG!!!</h2>
      <span>There is so much to see.</span>
    </div>
    <div class="form-row">
      <label for="origin">Flying from: </label>
      <select required name="origin" id="origin">
        <option value="" disabled selected hidden>Departure City</option>
        {% for city in cities %}
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label for="destination">Flying to: </label>
      <select required name="destination" id="destination">
        <option value="" disabled selected hidden>Arrival City</option>
        {% for city in cities %}
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label for="departure_time">Departure Date: </label>
      <input
        required
        id="departure_time"
        type="datetime-local"
        name="departure_time"
      />
    </div>

    <div class="form-row">
      <label for="num_seats">Number of passengers: </label>
      <input
        required
        type="number"
        name="num_seats"
        id="num_seats"
        min="1"
        max="100"
        placeholder="1"
        value="1"
      />
    </div>
    <input type="submit" value="Search Flight" />
  </form>
  <div id="searched_flights">
    <ul>
      {% for flight in flights %}
      <li>{{flight.id}}</li>
      {% endfor %}
    </ul>
  </div>
</body>
{% endblock %}
